header
	.wrapper.outer
		.flex
			a.logo(href="/")
				img(src="img/rebellabswhite.svg" alt="Rebel Labs Logo")
			.copy
				h1 creating positive opportunities for all.
// ul.nav
	.wrapper.outer
		li: a(href="/") Home
		li: a(href="/ethos") Ethos
		li: a(href="/clubs") Clubs
		li: a(href="/new") Run your own