.manifesto#manifesto
	.wrapper
		h1.section-header Our Manifesto
		ul
			.half
				li
					span.number 1
					span.item Promote a culture of lifelong learning 
				li
					span.number 2
					span.item Create open spaces where people feel empowered to ask, experiment, play and fail
				li
					span.number 3
					span.item Construct unique environments for social participation
				li
					span.number 4
					span.item Provide pathways to real world opportunities
				li
					span.number 5
					span.item Keep our enterprise social, because it should endeavour to benefit society
			.half
				li
					span.number 6
					span.item Stand honest in our process and transparent in our decisions
				li
					span.number 7
					span.item Listen to our champions and our critics in equal measure
				li
					span.number 8
					span.item Stay relevant to our community, and to the communities we are operating within
				li
					span.number 9
					span.item React positively to change so we can evolve to address new challenges
				li
					span.number 10
					span.item Act always with passion and purpose