.projects#projects
	.wrapper
		h1.section-header What we do - our projects
		ul
			li(style="background: #E81F63")
				h2 Rebel Makers
				p Rebel Makers is a network of peer-to-peer making clubs for everyone who is interested in technology - regardless of age or ability. At our monthly Clubs, Rebels get together to share existing knowledge and learn new skills in a fun, safe and collaborative environment. We also run Rebel Makers Camp - an annual celebration of digital making for everyone.   
				span: a(href="http://rebelmakers.co.uk") Visit Rebel Makers site
			li(style="background: #3f579c")
				h2 UKGovHack
				p UKGovHack is an annual event bringing together technologists and public sector enthusiasts. It is a two day hackathon with a simultaneous conference stream for those wanting to gain more knowledge. The aim is to strengthen and diversify the civic tech community. 
				span: a(href="http://ukgovhack.com") Visit UKGovHack site
			li(style="background: #377f90")
				h2 Accountability Hack
				p Accountability Hack is your chance to impact the democratic process through technology. It is a series of lunchtime discussions culminating in a two day hackathon for the UK Civic Tech community with workshops for those wanting to learn more. Now in it’s sixth year, the aim is to create applications using open government data to hold our elected to account. 
				span: a(href="http://accountabilityhack.org") Visit Accountability Hack site
			li(style="background: #f57a26")
				h2 Kabooom Brum
				p Kabooom Brum is a celebration of the digital creativity in Birmingham. It is a ten day festival during which a series of curated events will run by individuals and organisations from around the city. The aim is to showcase the extraordinary breadth of the city's digital culture and further strengthen it’s burgeoning technology ecosystem. 

				span: a(href="http://kabooom.co.uk") Visit Kabooom Brum site