.services#services
	.wrapper
		h1.section-header What we do - our services
		ul
			li
				img(src="/img/services/training.png", alt="Training")
				h2 Training
				p Improve the knowledge and value of your teams through our set of bespoke training around digital topics.
			li
				img(src="/img/services/events.png", alt="Events")
				h2 Events
				p Do you have a community or technical event and need extra capacity to deliver it? We're here to help!
			li
				img(src="/img/services/research.png", alt="Research")
				h2 Research
				p Our dedicated researchers have years of experience helping clients navigate the digital and education sectors.
			li
				img(src="/img/services/consultancy.png", alt="Consultancy")
				h2 Consultancy
				p Whether it's around technical strategy, community outreach, or understanding your data, you can count on us.