.team#team
	.wrapper
		h1.section-header Team
		ul
			li
				img(src="/img/team/julia.jpg", alt="Julia Higginbottom")
				h2 Julia<br>Higginbottom
				p Producer, innovation consultant, wacky hair.
			li
				img(src="/img/team/kate.jpg", alt="Kate McDonald")
				h2 Kate<br>McDonald
				p Copywriter, researcher, Scot turned Roman.
			li
				img(src="/img/team/kevin.jpg", alt="Kevin Lewis")
				h2 Kevin<br>Lewis
				p Developer, events organiser, karaoke master. 
			li
				img(src="/img/team/nat.jpg", alt="Nat Higginbottom")
				h2 Nat<br>Higginbottom
				p Media creator, community manager, vaper.