extends layout

block vars
	- var pageTitle = "Home"
	- var pageClass = "home"

block content

	.wrapper.outer



		section#copy

			:marked
				# What is Rebel Labs?
				
				We are a social enterprise powering fresh and exciting opportunities for people of all ages to engage in meaningful learning experiences, improving their social support networks, skills and wellbeing.
				
				Rebel Labs creates communities around positive action, enabling people to work together to inspire change and build a better future. We do this through:
				
				* workshops
				* training
				* hackathons & events 
				* projects
				* collaboration
			
				Our first project is Rebel Makers, a network of peer-to-peer making clubs for everyone interested in programming, electornics, and digital production - regardless of age or ability. 
